/* *{
    background-color: pink;
}

Form{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
}

form input{
    width: 270px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}
button{
    padding: 12px 24px;
    font-size: 30px;
    background-color: deeppink;
}
#amount,
#token,
#var{
    height: 30px;
    font-size: 30px;
    gap: 3px;
}
#result{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
} */
