*{
    background-color: rgb(1, 1, 43);
}
h1{
    color: deeppink;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.display{
display: flex;
justify-content: center;
color: deeppink;
font-size: 50px;
border: 1px solid pink;
padding: 5px;
margin: 100px 100px  ;
}